/* components */
.main-title {
    width: fit-content;
    margin-top: 60px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.card {
    width: 100%;
    min-height: 300px;
    max-height: 400;
    padding: 20px;
    background-color: var(--dark-color);
    color: var(--light-color);
    position: relative;
    transition: .5s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 15px #352a6c;
}

.card .title,
.card .more,
.asset-link {
    color: #666;
    position: absolute;
    font-size: 14px;
}

.card .title {
    top: 20px;
    left: 20px;
}

.card .more {
    right: 20px;
    top: 20px;
    border: 1px solid #222;
    border-radius: 3px;
    padding: 3px;
    transition: all .2s ease-in-out;
}

.card .more:hover {
    box-shadow: 3px 3px 20px #222;
}

@media (max-width:768px) {
    .main-title {
        /* margin-left: 10px; */
        margin-top: 29px;
    }

    .global-icons {
        right: 10px;
    }

    .card {
        width: 95%;
    }

    .card .title,
    .card .more,
    .asset-link {
        font-size: 11px;
        margin: 0;
        padding: 3px;
    }

    .main-title {
        margin-top: 75px;
    }

}

/* styling unNessasary pages 🤓 */
.other-page {
    display: flex;
    justify-content: center;
    align-items: center;
}